# Posgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
PG_REP_USER=rep
PG_REP_PASSWORD=reppass
PG_MASTER_HOST=pg_master
PG_PORT_MASTER=54321
PG_PORT_SLAVE=54322

# MongoDB
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo
MONGO_PORT=27017
MONGO_EXPRESS_PORT=8081

# RedisStack
REDIS_PORT_SERVER=6379
REDIS_PORT_INSIGHT=8001

# RabbitMQ
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq
RABBITMQ_PORT_SERVER=5672
RABBITMQ_PORT_MANAGEMENT=15672

# Minio
MINIO_PORT_WEB=9000
MINIO_PORT_SERVER=9001
MINIO_ROOT_USER=minioroot
MINIO_ROOT_PASSWORD=minioroot

# Meilisearch
MEILISEARCH_PORT=7700

# Vault
VAULT_DEV_ROOT_TOKEN_ID=vaultroot
VAULT_PORT=8200
